<ion-header>

  <ion-navbar>
    <ion-title>Facebook</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <a href="https://www.facebook.com"><img src="assets/imgs/facebooicon.png" alt="" width="100"></a>
</ion-content>
