<ion-header>
  <ion-navbar>
    <ion-title>Localização</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="fundo">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d960.6297892501673!2d-56.09260621193381!3d-15.617319007726222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x939db1e082517545%3A0xd87f13d07d15c67a!2sAv.+Carmindo+de+Campos%2C+2724+-+Goiabeiras%2C+Cuiab%C3%A1+-+MT%2C+78031-100!5e0!3m2!1spt-BR!2sbr!4v1516846403608" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
 <div class="enderecos">
    <h2>Avenida Carmindo de Campos</h2>
    <h2>Bairro Dom Aquino</h2>
    <h2>N° 2724</h2>
    <h2>Cuiabá MT</h2>
 </div>
</ion-content>
