<ion-header>

  <ion-navbar>
    <ion-title>Pedidos de Oração</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <p class="pedido">Envie para o Pastor local seu pedido</p>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome">
      </div>
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Telefone">
      </div>
      <div>
          <textarea placeholder="Mensagem" class="form-control" rows="13"></textarea>
      </div>       
      <button ion-button full>Enviar Pedido</button>
</ion-content>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">