<ion-header>
  <ion-navbar>
    <ion-title>
     <ion-icon ios="ios-menu" md="md-menu" menuToggle class="titleMenu1"><b class="titleMenu">Home</b></ion-icon>  
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-menu [content]="mycontent">
         
    <ion-content class="lista">
        <ion-list>
             <button ion-item menuClose (click)="destaquesPage()" class="backButton"> <!-- Pagina Gerada-->
                Destaques
            </button>
            <button ion-item menuClose (click)="openPage(catsPage)" class="backButton">
                Notificações
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)" class="backButton">
                Eventos
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)" class="backButton">
                Devocional
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)" class="backButton">
                Agenda Mensal
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)" class="backButton">
                    Agenda Anual
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)" class="backButton">
                Agenda Regional Anual
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)" class="backButton">
                    Escala Mensal
            </button>
            <button ion-item menuClose (click)="liderancaPage()" class="backButton"> <!-- Pagina Gerada-->
                Liderança
            </button>
            <button ion-item menuClose (click)="sobrePage()" class="backButton"> <!-- Pagina Gerada-->
                    Sobre a Igreja
            </button>
            <button ion-item menuClose (click)="enderecoPage()" class="backButton"> <!-- Pagina Gerada-->
                    Endereços e Contatos
            </button>
            <button ion-item menuClose (click)="hoariosPage()" class="backButton"> <!-- Pagina Gerada-->
                    Horários e Culto
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)" class="backButton">
                    Aniversariantes
            </button>
            <button ion-item menuClose (click)="contaPage()" class="backButton">
                    Dízimos e Ofertas
            </button>
            <button ion-item menuClose (click)="pedidosPage()" class="backButton">
                    Pedido de Oração
            </button>
            <button ion-item menuClose (click)="openPage(dogsPage)" class="backButton">
                    Bíblia Offline
            </button>
            <button ion-item menuClose (click)="mapaPage()" class="backButton">
                    Localização
            </button>
            <button ion-item menuClose (click)="social()" class="backButton">
                    Redes Sociais
            </button>
        </ion-list>
        <button ion-button full (click)="signOut()">
            Sair
        </button>    
        <p class="passinatura">Desenvolvido por <b class="assinatura">Guilherme Reis</b></p>   
    </ion-content>

</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
<ion-content padding>
    <h1>Bem Vindo ao IAPDA</h1>
</ion-content>

<ion-footer>
        <ion-toolbar>
                 <ion-title>Rodape</ion-title>
        </ion-toolbar>
</ion-footer>