<ion-nav [root]="rootPage"></ion-nav>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> <!-- Font Menu--> 
<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet"> <!-- Font Head-->

