.passinatura{
    text-align: center;
    color: #fff;
}
.assinatura{
    color:#fff;
    
}
.lista{
    background-color:rgb(0, 153, 255);
}
.divLogo{
    text-align: center;
}
.logoIAP{
    width: 200px;
}
.backButton{
    background-color:rgb(0, 153, 255);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.titleMenu{
    font-family: 'Bree Serif', serif;
}
.fundo{
    background-color:rgb(0, 153, 255);
    color: #fff;
}
.enderecos{
    padding-left: 30px;
}
.titleMenu1{
    text-align: left;
}