<ion-header>
  <ion-navbar>
    <ion-title>Contas</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/imgs/bb.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <ion-item>Agência - 1051</ion-item>
      <ion-item>Operação - 001</ion-item>
      <ion-item>Conta - 00009176-5</ion-item>
      <ion-item>Data - 01/20</ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/imgs/bancoCaixa.png" alt="">
    </ion-card-header>
    <ion-card-content>
      <ion-item>Agência - 1051</ion-item>
      <ion-item>Operação - 001</ion-item>
      <ion-item>Conta - 00009176-5</ion-item>
      <ion-item>Data - 01/20</ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
