<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Criar nova conta
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form #form="ngForm" novalidate>
    <ion-list>

      <ion-item>
        <ion-label stacked>E-mail</ion-label>
        <ion-input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
        O campo é obrigatório
      </ion-item>

      <ion-item>
        <ion-label stacked>Senha</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required></ion-input>
      </ion-item>
      <ion-item *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
        O campo é obrigatório
      </ion-item>

    </ion-list>

    <button ion-button block color="primary" [disabled]="!form.form.valid" (click)="createAccount()">
      Criar conta
    </button>
  </form>
  <div class="divLogo">
      <img src="assets/imgs/logoIAPDA.png" alt="" class="logoIAP">
  </div>
</ion-content>
