<ion-header>

  <ion-navbar>
    <ion-title>Liderança - 2018</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-list>      
        <ion-item>
           <ion-list-header>
              <b>Pastor Local</b>
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Moises de Oliveira dos Santos</h3>
           <p>Pastor</p>
           <p>Tel (65) 99946-6249</p>
           <b class="pEmail">pr.moisesdeoliveira@hotmail.com</b>
        </ion-item>
        <ion-item>
           <ion-list-header>
              <b>Consagrados</b>
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Alexandre Canto Melo</h3>
           <p>Pastor</p>
           <p>Tel (65) 99952-3812</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Marcio Domingos Contó</h3>
           <p>Presbítero</p>
           <p>Tel (66) 99956-0324</p>
        </ion-item>
        <br>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Naor Melo Franco</h3>
           <p>Presbítero</p>
           <p>Tel (65) 99982-3950</p>
        </ion-item>
        <br>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Edson Dias Reis</h3>
           <p>Diácono</p>
           <p>Tel (65) 99982-9870</p>
        </ion-item>
        <br>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Luiz Alberto Scaranaro Filho</h3>
           <p>Diácono</p>
           <p>Tel (65) 99816-7163</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Dafne Bonamigo Reis</h3>
           <p>Diaconisa</p>
           <p>Tel (65) 99982-9885</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Jane Oliveira</h3>
           <p>Diaconisa</p>
           <p>Tel (65) 99670-3867</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Rosiane Máximo Santiago</h3>
           <p>Diaconisa</p>
           <p>Tel (65) 98118-9798</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Genicleide Justino Araujo Contó</h3>
           <p>Diaconisa</p>
           <p>Tel (65) 99639-6665</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Genicleide Justino Araujo Contó</h3>
           <p>Diaconisa</p>
           <p>Tel (65) 99639-6665</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              Diretoria Administrativa
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Pr .Moises de Oliveira dos Santos</h3>
           <p>Presidente</p>
           <p>Tel (65) 99946-6249</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Aline Alves da Silva</h3>
           <p>Secretária</p>
           <p>Tel (65) 99224-9985</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Lucilaine Dias Reis</h3>
           <p>Tesoureira</p>
           <p>Tel (65) 99981-0404</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Naor Melo Franco</h3>
           <p>Presbítero</p>
           <p>Tel (65) 99982-3950</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              UMAP
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Paula Gabrielle de Castro</h3>
           <p>Diretora</p>
           <p>Tel (65) 99660-2345</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Dsa. Genicleide Justino A. Contó</h3>
           <p>Vice-Diretora</p>
           <p>Tel (65) 99660-2345</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Carolinne Sela Marques</h3>
           <p>Secretária</p>
           <p>Tel (65) 99943-5620</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Edinete Mendes da Silva</h3>
           <p>Tesoureira</p>
           <p>Tel (65) 99696-7248</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              DIJAP
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Dsa. Jane Oliveira</h3>
           <p>Diretora</p>
           <p>Tel (65) 99660-2345</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Dsa. Genicleide Justino A. Contó</h3>
           <p>Vice-Diretora</p>
           <p>Tel (65) 99696-7248</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Aline Alves da Silva</h3>
           <p>Secretária</p>
           <p>Tel (65) 99696-7248</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Edinete Mendes da Silva</h3>
           <p>Tesoureira</p>
           <p>Tel (65) 99696-7248</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              DEME
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Da. Luiz Alberto Scaranaro Filho</h3>
           <p>Diretor</p>
           <p>Tel (65) 99660-2345</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Naor de Melo Franco</h3>
           <p>Vice Diretor</p>
           <p>Tel (65) 99696-7248</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>José Henrique Anunciação</h3>
           <p>Secretário</p>
           <p>Tel (65) 99669-1083</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Valdiney de Melo</h3>
           <p>Tesoureiro</p>
           <p>Tel (65) 99975-9737</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              DEMAP
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Pb. Márcio Domingos Contó</h3>
           <p>Diretor</p>
           <p>Tel (65) 99660-2345</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Daiane Patricia dos S.Silva</h3>
           <p>Secretária</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              Coordenadores
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Dafne Bonamigo Reis</h3>
           <p>Diaconisa</p>
           <p>Tel (65) 99660-2345</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Rosiane Máximo Santiago</h3>
           <p>Diaconisa</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Danielle Cristina Sousa de Paula</h3>
           <p>Tel (65) 99969-3430</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Gabriela Porto Melo Franco</h3>
           <p>Tel (65) 99953-2157</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              Coordenação de Artes
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Maria Julia Machado Silva</h3>
           <p>Tel (65) 98431-8344</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Talisson Araújo Domingo Contó</h3>
           <p>Tel (66) 99686-3860</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Fernando Jose dos Santos Silva</h3>
           <p>Tel (65) 99992-8483</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Fernando Jose dos Santos Silva</h3>
           <p>Tel (65) 99992-8483</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              Diretora Teatro
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Nadir Martins Araújo</h3>
           <p>Tel (65) 99633-0337</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              Sonoplastia
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Diego Rodrigues Frederico</h3>
           <p>Tel (65) 99982-8749</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>José Henrique Anunciação</h3>
           <p>Tel (65) 99982-8749</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              Coordenaroria De Escola Bíblica
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Ricardo Willian Santiago</h3>
           <p>Tel (65) 98112-6467</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Pb. Marcio Domingos Contó</h3>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>José Henrique Anunciação</h3>
           <p>Secretário</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Matheus Melo dos Santos</h3>
           <p>Secretário</p>
           <p>Tel (66) 98127-7879</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Talisson Araújo Domingo Contó</h3>
        </ion-item>
        <ion-item>
           <ion-list-header>
              Professores
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Pb. Naor de Melo Franco</h3>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Luiz Alberto Scaranaro Filho</h3>
           <p>Diácono</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Alexandre Canto Melo</h3>
           <p>Pastor</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Edmara Sanches Nogari</h3>
           <p>Tel (65) 99906-5398</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Edmara Sanches Nogari</h3>
           <p>Tel (65) 99906-5398</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Márcio Domingos Contó</h3>
           <p>Presbítero</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              Diretor De Culto
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Luiz Alberto Scaranaro Filho</h3>
           <p>Diácono</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Valdiney de Melo</h3>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Naor de Melo Franco</h3>
           <p>Presbítero</p>
        </ion-item>
        <ion-item>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>Fagner Rodrigues Trigueiro</h3>
           <p>Presbítero</p>
           <p>Tel (65) 98438-3372</p>
        </ion-item>
        <ion-item>
           <ion-list-header>
              Coordenador Portaria
           </ion-list-header>
           <ion-avatar item-start>
              <img src="assets/imgs/avatar1.jpg">
           </ion-avatar>
           <h3>José Anailson de Souza Cavalcanti</h3>
           <p>Tel (65) 99255-8136</p>
        </ion-item>
  </ion-list>
</ion-content>
