<ion-header>

  <ion-navbar>
    <ion-title>Horários e Culto</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-card>
    <img src="assets/imgs/biblia.jpg" class="imagem"/>
    <div class="card-title">Sabádo às 09:00 Horas</div>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/biblia1.jpg" class="imagem"/>
    <div class="card-title">Domingo às 19:00h Horas</div>
  </ion-card>

</ion-content>
