page-destaques {
    .conteudoCard{
        background-color: rgb(0, 153, 255);
    }
    .tituloCard{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
    }
    .paragrafoCard{
        color: #fff;
        font-family: 'Montserrat', sans-serif;
    }
}   
