<ion-header>

  <ion-navbar>
    <ion-title>Destaques</ion-title>
  </ion-navbar>

</ion-header>
<ion-menu [content]="mycontent">


</ion-menu>

<ion-content padding>
    <ion-card>
        <img src="assets/imgs/igrejaFrente.jpeg" alt="">
        <ion-card-content class="conteudoCard">
          <ion-card-title class="tituloCard">
            Bem vindo a Missão
            </ion-card-title>
          <p class="paragrafoCard">
            Igreja Adventista da Promessa Dom Aquino.
            Cultos aos Sabados e Domingo.
          </p>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <img src="assets/imgs/igrejaFrente.jpeg" alt="">
        <ion-card-content class="conteudoCard">
          <ion-card-title class="tituloCard">
            Bem vindo a Missão
            </ion-card-title>
          <p class="paragrafoCard">
            Igreja Adventista da Promessa Dom Aquino.
            Cultos aos Sabados e Domingo.
          </p>
        </ion-card-content>
      </ion-card>
</ion-content>
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 